<div class="row" style="max-width:1200px;padding:40px 20px;background:#ebeff2">
  <h4>Add Associate</h4>
   
  <div *ngIf="!validInput" style="color : red">
    <span *ngFor="let msg of errorMessages" style="color : red">{{msg}}<br /></span>
  </div>
  <form class="form-horizontal" role="form">

      
          <div class="well well-md">
              <div class="row">
                  <div class="col-sm-2">
                    <div *ngIf="!assocImage">
                        <img src="http://placehold.it/380x500" alt="" class="img-rounded img-responsive" />
                    </div>
                    <div *ngIf="assocImage">
                        <img [src]="assocImage" alt="" class="img-rounded img-responsive" />
                    </div>
                     <input type="file" accept="image/*" (change)="handleInputChange($event)"/> 
                  </div>
                  
                  <div class="col-sm-10">
                      <div class="form-group">
                        <label for="associateName" style="float: left" class ="control-label col-sm-3">Name:</label>
                          <div class="col-sm-8">
                              <input type="text" name="associateName" class="form-control" id="associateName" required [(ngModel)]="associate.associateName">
                          </div>
                      </div>
                      <div class="form-group">
                          <label for="email" style="float: left" class ="control-label col-sm-3">Email:</label>
                            <div class="col-sm-8">
                                <input type="email" name="email" placeholder="xxxx@cognizant.com"
                                  required [(ngModel)]="associate.email">
                            </div>
                      </div>
                      <div class="form-group">
                          <label for="mobile" style="float: left" class ="control-label col-sm-3">Mobile:</label>
                            <div class="col-sm-8">
                                <input type="tel" name="mobile" required [(ngModel)]="associate.mobile">
                            </div>
                      </div>
                      <div class="form-group">
                          <label for="status" class ="control-label col-sm-3">Status:</label>
                            <div class="col-sm-8">
                              <select class="hideLabel form-control" name="status" [(ngModel)] = "associate.status">
                                  <option *ngFor="let status of statusArr" [value]="status">{{status}}</option> 
                                  
                              </select>
                            </div>
                      </div>
                      <div class="form-group">
                          <label for="level" class ="control-label col-sm-3">Level:</label>
                            <div class="col-sm-8">
                              <select class="hideLabel form-control" name="level" [(ngModel)] = "associate.level">
                                  <option *ngFor="let level of levelArr" [value]="level">{{level}}</option> 
                                  
                              </select>
                            </div>
                      </div>
                      <div class="form-group">
                        <label for="level" class ="control-label col-sm-3">Sex:</label> 
                            <div class="col-sm-8">
                                <input [(ngModel)]="associate.gender" name="gender" value="M" id="radioMale" type="radio">
                                <label for="radioMale">Male</label>
                
                                <input  [(ngModel)]="associate.gender" name="gender" value="F" id="radioFemale" type="radio">
                                <label for="radioFemale">Female</label>
                            </div>
                      </div>

                      <div class="form-group">
                        <label for="remark" class ="control-label col-sm-3">Remark:</label> 
                            <div class="col-sm-9">
                                <textarea name="remark" [(ngModel)]="associate.remark"></textarea>
                            </div>
                      </div>
                  </div>
                  
              </div>
          </div>
          <h5>Select Skill</h5>
          <div class="well well-md">

            <div class="table table-responsive">
                <table class="table">
                  <thead>
                      <tr>
                          <th class="col-sm-1">Select</th>
                          <th class="col-sm-1">Skill</th>
                          <th class="col-sm-1">Skill Level</th>
                          <th class="col-sm-1">Rating</th>
                          
                        </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let skill of skillArr">
                      <td>
                          <input type="checkbox"  name="options"  value="{{skill.skillId}}"
                          [(ngModel)]="skill.isSelected"/>
                      </td>
                      <td>
                          <label>{{skill.skillName}}</label>
                      </td>
                      <td>
                          <div class="slidecontainer col-sm-8">
                             <input type="range" name="skillRating"  min="0" max="20" value="10" required data-show-value="true" [(ngModel)]="skill.skillRating">
                          </div>
                      </td>
                      <td>
                        {{skill.skillRating}}
                      </td>
                    </tr>
                  </tbody>
                </table>

                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label for="strength" style="float: left" class ="control-label col-sm-3">Strength</label>
                              <div class="col-sm-8">
                                  <input type="text" name="strength" class="form-control" id="strength" required [(ngModel)]="associate.strength">
                              </div>
                          </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label for="weakness" style="float: left" class ="control-label col-sm-3">Weakness</label>
                              <div class="col-sm-8">
                                  <input type="text" name="weakness" class="form-control" id="weakness" required [(ngModel)]="associate.weakness">
                              </div>
                          </div>
                    </div>
                </div>
             
                
            </div>
                      
            
          </div>
          
          <div class="col-md-6 col-md-offset-3">
            <button type="button" (click)="addAssociate()">Save</button>
            <button type="button" >Cancel</button>
          </div>
          
          <div *ngIf="!validInput" style="color : red">
                <span style="color : red">Errors displayed at the top</span>
                
          </div>

  </form>

</div>
  